<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>React Server Demo</title>
</head>
<body>

<h1>React Server Demo</h1>
<div id="container">
    {{{content}}}
</div>

<script type="text/javascript" src="/js/build/server-render.js"></script>

</body>
</html>